# UV 관련
.venv/
__pycache__/
*.pyc
uv.lock
.pytest_cache/
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.wsuo

# Build
bin/
obj/
outputs/
build/
dist/
data/

model/
*.egg-info/
YTDown_YouTube_Media_nFPk2s7823Q_001_1080p.mp4
# Environment Variables
.env
